/* Here is your custom css styles. */
.foot-bg-color {
	background: linear-gradient(to right, #141e30, #243b55);
}
.tag-bg-color {
    background-color: #007AFF;
}
.dream-div{
    margin-top: 0;
    margin-bottom: 0; 
}
